<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Zoek uw aannemer | Login</title>

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//cdn.auth0.com/js/lock/10.14/lock.min.js"></script>
</head>

<body class="login">
<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <script th:inline="javascript">
                    /*<![CDATA[*/
					var clientId = [[${clientId}]];
					var clientDomain = [[${clientDomain}]];
					var loginCallback = [[${loginCallback}]];
					var state = [[${state}]];
                    /*]]>*/
					$(function () {
						var lock = new Auth0Lock(clientId, clientDomain, {
							auth: {
								redirectUrl: loginCallback,
								responseType: 'code',
								params: {
									state: state,
									scope: 'openid user_id name nickname email picture'
								}
							}
						});
						// delay to allow welcome message..
						setTimeout(function () {
							lock.show();
						}, 1500);
					});
                </script>
            </section>
        </div>
    </div>

</div>
</body>
</html>