<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/normal/decorator"
>

<div layout:fragment="header-content">
    <title>Prijzen | Zoek Uw Aannemer</title>
    <link rel="stylesheet" th:href="@{/assets/unify/css/pages/pricing/pricing_v8.css}" />
</div>

<div layout:fragment="main-content">


    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Prijzen</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="#">Vakmensen</a></li>
                <li class="active"><a th:href="@{/prijzen}">Prijzen</a></li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <div class="container" th:if="${subscription != null}">
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning fade in text-center">
                    <h4>Het lijkt er op dat je al een abonnement hebt!</h4>
                    <p>Uiteraard kan je nog steeds de verschillende abonnementen bekijken.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-no-space margin-bottom-10">
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table-v8 service-block-brown sm-margin-bottom-30">
                    <div class="service-block ">
                        <h2 class="heading-md">Hamer</h2>
                        <span><i class="dollar">€</i>5<i>p/m</i></span>
                        <span>|</span>
                        <span><i class="dollar">€</i>50<i>p/j</i></span>
                        <p>Ben je een bijklusser en wil je af en toe wat bijverdienen dan is dit het
                        ideale plan voor jou.</p>
                        <a th:if="${subscription == null}" th:href="@{/subscriptions/buy/HAMER(period=MONTHLY)}" class="btn-u btn-u-default ">
                            koop een maand
                        </a>
                        <a th:if="${subscription == null}" th:href="@{/subscriptions/buy/HAMER(period=YEARLY)}" class="btn-u btn-brd  btn-u-green">
                            koop een jaar
                        </a>
                    </div>
                    <div class="row pricing-body no-space-pricing no-row-space text-center">
                        <div class="col-xs-6">
                            <div class="pricing-inner-2">
                                <i class="icon-envelope-open"></i>
                                <span>5 klanten contacten</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="pricing-inner-1">
                                <i class="icon-drawer"></i>
                                <span>1 Vakgebied</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table-v8 service-block-orange sm-margin-bottom-30 md-margin-bottom-30">
                    <div class="service-block ">
                        <h2 class="heading-md">Kruiwagen</h2>
                        <span><i class="dollar">€</i>15<i>p/m</i></span>
                        <span>|</span>
                        <span><i class="dollar">€</i>150<i>p/j</i></span>
                        <p>Een opstartende firma? Je kan toch wel wat extra werk gebruiken?</p>
                        <a th:if="${subscription == null}" th:href="@{/subscriptions/buy/KRUIWAGEN(period=MONTHLY)}" class="btn-u btn-u-default ">
                            koop een maand
                        </a>
                        <a th:if="${subscription == null}" th:href="@{/subscriptions/buy/KRUIWAGEN(period=YEARLY)}" class="btn-u btn-brd ">
                            koop een jaar
                        </a>
                    </div>
                    <div class="row pricing-body no-space-pricing no-row-space text-center">
                        <div class="col-xs-6">
                            <div class="pricing-inner-2">
                                <i class="icon-envelope-open"></i>
                                <span>30 klanten contacten</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="pricing-inner-2">
                                <i class="icon-drawer"></i>
                                <span>2 Vakgebieden</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="pricing-inner-2">
                                <i class="icon-cloud-upload"></i>
                                <span>Persoonlijke bedrijfspagina</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table-v8 service-block-light-green sm-margin-bottom-30">
                    <div class="service-block ">
                        <h2 class="heading-md">Hefkraan</h2>
                        <span><i class="dollar">€</i>45<i>p/m</i></span>
                        <span>|</span>
                        <span><i class="dollar">€</i>450<i>p/j</i></span>
                        <p>Nog meer? Dat kan! Ons hefkraan-abonnement lanceert je als nooit tevoren!</p>
                        <a th:if="${subscription == null}" th:href="@{/subscriptions/buy/HEFKRAAN(period=MONTHLY)}" class="btn-u btn-u-default  ">
                            koop een maand
                        </a>
                        <a th:if="${subscription == null}" th:href="@{/subscriptions/buy/HEFKRAAN(period=YEARLY)}" class="btn-u btn-brd btn-u-sea  ">
                            koop een jaar
                        </a>
                    </div>
                    <div class="row pricing-body no-space-pricing no-row-space text-center">
                        <div class="col-xs-6">
                            <div class="pricing-inner-2">
                                <i class="glyphicon glyphicon-volume-up"></i>
                                <span>Live meldingen</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="pricing-inner-2">
                                <i class="glyphicon glyphicon-ok"></i>
                                <span>U wordt geverifieerd</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="pricing-inner-2">
                                <i class="icon-drawer"></i>
                                <span>5 Vakgebieden</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="pricing-inner-2">
                                <i class="icon-cloud-upload"></i>
                                <span>Persoonlijke bedrijfspagina</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="pricing-inner-2">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span>U bent zichtbaarder</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="pricing-inner-2">
                                <i class="glyphicon glyphicon-comment"></i>
                                <span>Direct contact mogelijk</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="pricing-inner-2">
                                <i class="icon-call-out"></i>
                                <span>Support</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Pricing Table-v8 -->
    </div>
</div>

</html>