<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/decorator">

<div layout:fragment="header-content">

</div>

<div layout:fragment="main-content">
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Terms of Service</h1>
            <ul class="pull-right breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/tos}">Pages</a></li>
                <li class="active">Terms of Service</li>
            </ul>
        </div>
    </div>
    <div class="container content">
        <div class="row-fluid privacy">
            <p>This Website and its related services are owned and operated by QDS Consult Comm. V.</p>
            <p>You acknowledge that any use of this Website and any use of our Services is subject to these Terms
                of Service and Use ('Terms').</p>

            <h4>1. GENERAL</h4>
            <p>1.1. We reserve the right to change these Terms at any time, in our sole discretion. Any such
                changes in respect of your use of the Services will take effect when posted on the Website. If you
                have supplied us with an email address, we will also notify you by email of changes to these Terms</p>

            <p>1.2. It is your responsibility to read the Terms carefully on each occasion you use the Services. Your
                continued use of the Services shall signify your acceptance to be bound by the current Terms even if
                the notification mail has not been sent.</p>

            <p>1.3. Failure or delay by Blockchain in enforcing or partially enforcing any provision of these Terms
                shall not be construed as a waiver of any rights.</p>

            <h4>2. DEFINITIONS</h4>
            <p>2.1. All references to the ‘company,’ ‘us,’ ‘our,’ ‘we’, `CinderCloud` means QDS Consult Comm. V., a
                company registered under the laws of Belgium, having its
                registered address at Iepenstraat 14, 9940, Evergem.
                2.2. All references to ‘you,’ ‘your,’ or the ‘user’ mean the person or persons, using the Website
                and/or using the Services via the Website.</p>

            <p>2.3. All references to the ‘Website’ shall include reference to all URL’s operated by CinderCloud.</p>

            <p>2.4. ‘Business Day’ means a day other than a public holiday, a Saturday or a Sunday, in Belgium.</p>

            <p>2.5. ‘Services’ means any feature provided by us via the Website or any local application (mobile
                desktop or otherwise), including without limitation Wallet services or blockchain information
                services, but excluding API services, which are governed by a separate agreement.</p>

            <p>2.6. ‘Communication’ includes communication by email.</p>

            <p>2.7. ‘Deemed day of receipt’ can only be on a Business Day, and means the day a Communication is
                received by CinderCloud, if received during CinderCloud's Business Hours, which are between
                9:00am and 5:00pm on Belgium’s time zone, and otherwise means the next Business Day at 9:00am
                Belgium time.</p>

            <p>2.8. ‘Force Majeure Event’ means any event beyond CinderCloud's reasonable control, including,
                but not limited to, flood, extraordinary weather conditions, earthquake, or other acts of God, fire,
                war, insurrection, riot, labor dispute, accident, action of government, communications, power
                failure, or equipment or software malfunction.</p>

            <h4>3. ELIGIBILITY</h4>

            <p>3.1. You hereby accept and acknowledge that you: (a) Are of legal age to agree to these Terms; (b)
                Have not previously been suspended or removed from using our Services.</p>

            <p>3.2. If you are using the Services on behalf of a legal entity, you further represent and warrant that:
                (i) The legal entity is duly organized and validly existing under the applicable laws of the
                jurisdiction of its organization, and (ii) You are duly authorized by such legal entity to act on its
                behalf.</p>

            <h4>4. JURISDICTION, TERRITORIAL LIMITATIONS &amp; SEVERABILITY</h4>

            <p>4.1. These Terms and your use of the Website and Services shall be governed by and construed in
                accordance with Belgium Law. Any dispute arising in connection with these Terms or your use of
                the Website or Services will be resolved exclusively in the courts of Belgium. Nothing in these
                Terms shall be deemed to affect your statutory rights under Belgium law.</p>

            <p>4.2. If any part of these Terms is held by any court of Belgium to be invalid or unenforceable in
                whole or in part, the validity or enforceability of the other sections of these terms and conditions
                shall not be affected. Any headings contained in these Terms are for informational purposes only
                and are not enforceable provisions of these Terms.</p>

            <h4>5. PRIVACY POLICY &amp; SECURITY</h4>

            <p>5.1. Please see our Privacy Policy at <a th:href="@{/privacy-policy}">Privacy Policy</a>.</p>

            <p>5.2. We endeavor to take all reasonable steps to protect your personal information. However, we
                cannot guarantee the security of any data you disclose online. You accept the inherent security risks
                of providing information and dealing online over the Internet and will not hold us responsible for
                any breach of security even if this is due to our negligence.</p>

            <h4>6. ASSUMPTION OF RISK, LIMITATIONS ON LIABILITY &amp; INDEMNITY</h4>

            <p>6.1. You accept and acknowledge that there are risks associated with utilizing an Internet based
                cryptocurrency wallet service including, but not limited to, the risk of failure of hardware, software
                and Internet connections, the risk of malicious software introduction, and the risk that third parties
                may obtain unauthorized access to information stored within your Wallet, including, but not limited
                to your Wallet Address and Private Key (as defined below at 10.2.) You accept and acknowledge
                that CinderCloud will not be responsible for any communication failures, disruptions, errors,
                distortions, delays or loss of currency you may experience when using the Services, however
                caused.</p>

            <p>6.2. We will use reasonable endeavors to verify the accuracy of any information on the Website but
                we make no representation or warranty of any kind, express or implied, statutory or otherwise,
                regarding the contents of the Website, information and functions made accessible through the
                Website, any hyperlinks to third party websites, nor for any breach of security associated with the
                transmission of information through the Website or any website linked to by the Website.</p>

            <p>6.3. We will not be responsible or liable to you for any loss and take no responsibility for and will
                not be liable to you for any use of our Services, including but not limited to any losses, damages or
                claims arising from: (a) User error such as forgotten passwords, incorrectly constructed
                transactions, or mistyped addresses; (b) Server failure or data loss; (c) Corrupted Wallet files; (d)
                Unauthorized access to applications; (e) Any unauthorized third party activities, including without
                limitation the use of viruses, phishing, bruteforcing or other means of attack against the Website or
                Services.</p>

            <p>6.4. We make no warranty that the Website or the server that makes it available, are free of viruses
                or errors, that its content is accurate, that it will be uninterrupted, or that defects will be
                corrected.
                We will not be responsible or liable to you for any loss of any kind, from action taken, or taken in
                reliance on material, or information, contained on the Website.</p>

            <p>6.5. Subject to 7.1 below, any and all indemnities, warranties, terms and conditions (whether
                express or implied) are hereby excluded to the fullest extent permitted under Belgium law.</p>

            <p>6.6. We will not be liable, in contract, or tort (including, without limitation, negligence), other than
                where we have been fraudulent or made negligent misrepresentations.</p>

            <p>6.7. Nothing in these Terms excludes or limits liability for death or personal injury caused by
                negligence, fraudulent misrepresentation, or any other liability which may not otherwise be limited
                or excluded under Luxembourg law.</p>

            <h4>7. AGREEMENT TO HOLD CinderCloud HARMLESS</h4>

            <p>7.1. You agree to hold harmless CinderCloud (and each of our officers, directors, members,
                employees, agents and affiliates) from any claim, demand, action, damage, loss, cost or expense,
                including without limitation reasonable legal fees, arising out or relating to:</p>

            <p>7.1.1. Your use of, or conduct in connection with, our Services; </p>
            <p>7.1.2. Any feedback or submissions you provide (see 19 below);</p>
            <p>7.1.3. Your violation of these Terms; or</p>
            <p>7.1.4. Violation of any rights of any other person or entity.</p>
            <p>7.2. If you are obligated to indemnify us, we will have the right, in our sole discretion, to control
                any action or proceeding (at our expense) and determine whether we wish to settle it.</p>

            <h4>8. NO LIABILITY FOR THIRD PARTY SERVICES AND CONTENT</h4>

            <p>8.1. In using our Services, you may view content or utilize services provided by third parties,
                including links to web pages and services of such parties (“Third Party Content”). We do not
                control, endorse or adopt any Third-Party Content and will have no responsibility for Third Party
                Content including, without limitation, material that may be misleading, incomplete, erroneous,
                offensive, indecent or otherwise objectionable in your jurisdiction. In addition, your dealings or
                correspondence with such third parties are solely between you and the third parties. We are not
                responsible or liable for any loss or damage of any sort incurred as a result of any such dealings and
                you understand that your use of Third Party Content, and your interactions with third parties, is at
                your own risk.</p>

            <h4>9. WALLET REGISTRATION</h4>

            <p>9.1. If you wish to use the Wallet, you must create a wallet with CinderCloud to access the Services
                (“Wallet”). When you create a Wallet, you are strongly advised to take the following precautions, as
                failure to do so may result in loss of access to, and/or control over, your Wallet: (a) Create a strong
                password that you do not use for any other website or online service; (b) Provide accurate and
                truthful information; (c) Maintain and promptly update your Wallet information; (d) maintain the
                security of your Wallet by protecting your Wallet password and access to your computer and your
                Wallet; (e) Promptly notify us if you discover or otherwise suspect any security breaches related to
                your Wallet (f) use the backup functionality provided by the Wallet and safeguard your backup files
                as you would safeguard your most important personal information.</p>

            <p>9.2. You hereby accept and acknowledge that you take responsibility for all activities that occur
                under your Wallet and accept all risks of any authorized or unauthorized access to your Wallet, to
                the maximum extent permitted by law.</p>

            <h4>10. THE CinderCloud SERVICES</h4>

            <p>10.1. As described in more detail below, the Services, among other things, provide in-browser
                software that (a) generates and stores Wallet Addresses and encrypted Private Keys (defined below),
                and (b) Facilitates the submission of cryptocurrency transaction data to the a cryptocurrency
                network without requiring you to download or install the associated network software to your local
                device.</p>

            <p>10.2. Wallet Address and Private Key and Backup Phrase. When you create a Wallet, the Services
                generate and store a cryptographic private and public key pair that you may use to send and receive
                cryptocurrency via a cryptocurrency network. An encrypted backup of certain information
                associated with the Wallet is stored by the Services. The Private Key uniquely matches the Wallet
                Address and must be used in connection with the Wallet Address to authorize the transfer of
                cryptocurrency from that Wallet Address. You are solely responsible for maintaining the security of
                your Private Key and any backup phrase associated with your wallet. You must keep your Wallet
                Address and access information secure. Failure to do so may result in the loss of control of
                cryptocurrency associated with the Wallet.</p>

            <p>10.3. No Password Retrieval. CinderCloud does not offer a service to retrieve your Wallet password,
                nor the unencrypted keys and addresses. Therefore, we cannot assist you with Wallet password
                retrieval. You are solely responsible for remembering your Wallet password. If you have not safely
                stored a backup of your Wallet address, you accept and acknowledge that any cryptocurrency you
                have associated with such Wallet Addresses will become inaccessible if you do not have your Wallet
                password.</p>

            <p>10.4. Transactions. In order to be completed, all proposed cryptocurrency transactions must be
                confirmed and recorded in the cryptocurrency public ledger via the cryptocurrency distributed
                consensus network, which is not owned, controlled or operated by CinderCloud. A cryptocurrency
                network is operated by a decentralized network of independent third parties. CinderCloud has no
                control over cryptocurrency networks and therefore cannot and does not ensure that any transaction
                details you submit via the Services will be confirmed via a cryptocurrency network. You
                acknowledge and agree that the transaction details you submit via the Services may not be
                completed, or may be substantially delayed, by a cryptocurrency network. You may use the Services
                to submit these details to the network.</p>

            <p>10.5. No Storage or Transmission of cryptocurrency. Cryptocurrency are an intangible, digital asset.
                They exist only by virtue of the ownership record maintained in a cryptocurrency network. The
                Services do not store, send or receive cryptocurrency. Any transfer of title that might occur in any
                cryptocurrency occurs on the decentralized ledger within a cryptocurrency network and not within
                the Services. We do not guarantee that the Service can effect the transfer of title or right in any
                cryptocurrency.</p>

            <p>10.6. Relationship. Nothing in these Terms is intended to nor shall create any partnership, joint
                venture, agency, consultancy or trusteeship, you and CinderCloud being with respect to one another
                independent contractors.</p>

            <p>10.7. Accuracy of Information. You represent and warrant that any information you provide via the
                Services is accurate and complete. You accept and acknowledge that CinderCloud is not responsible
                for any errors or omissions that you make in connection with any cryptocurrency transaction
                initiated via the Services, for instance, if you mistype a Wallet Address or otherwise provide
                incorrect information. We strongly encourage you to review your transaction details carefully before
                completing them via the Services.</p>

            <p>10.8. No Cancellations or Modifications. Once transaction details have been submitted to the a
                cryptocurrency network via the Services, The Services cannot assist you to cancel or otherwise
                modify your transaction details. CinderCloud has no control over any cryptocurrency network and
                does not have the ability to facilitate any cancellation or modification requests.</p>

            <p>10.9. Taxes. It is your responsibility to determine what, if any, taxes apply to the transactions you
                for which you have submitted transaction details via the Services, and it is your responsibility to
                report and remit the correct tax to the appropriate tax authority. You agree that CinderCloud is not
                responsible for determining whether taxes apply to your Bitcoin transactions or for collecting,
                reporting, withholding or remitting any taxes arising from any cryptocurrency transactions.</p>

            <h4>11. FEES FOR USING THE CinderCloud SERVICES</h4>

            <p>11.1. Company Fees Creating a Wallet is free. Cryptocurrency does not currently charge fees for
                any Services, however we reserve the right to do so in future, and in such case any applicable fees
                will be displayed prior to you using any Service to which a fee applies.</p>

            <h4>14. DISCONTINUANCE OF SERVICES</h4>

            <p>14.1. We may, in our sole discretion and without cost to you, with or without prior notice and at any
                time, modify or discontinue, temporarily or permanently, any portion of our Services. You are solely
                responsible for transferring any cryptocurrency linked to any of your wallets or addresses.</p>

            <p>14.2. If you do not maintain a backup of your Wallet data outside of the Services, you will be may
                not be able to access cryptocurrency associated with any Wallet Address maintained in your Wallet
                in the event that we discontinue or deprecate the Services.</p>

            <h4>15. SUSPENSION OR TERMINATION OF SERVICES</h4>

            <p>15.1. We may suspend or terminate your access to the Services in our sole discretion, immediately
                and without prior notice, and delete or deactivate your Wallet and all related information and files in
                such without cost to you, including, for instance, in the event that you breach any term of these
                Terms. In the event of termination, your access to funds will depend on your access to your backup
                of your Wallet data including your wallet Address and password.</p>

            <h4>16. ACCEPTABLE USE</h4>

            <p>16.1. When accessing or using the Services, you agree that you will not commit any unlawful act,
                and that you are solely responsible for your conduct while using our Services. Without limiting the
                generality of the foregoing, you agree that you will not:</p>

            <p>16.1.1. Use our Services in any manner that could interfere with, disrupt, negatively affect or inhibit
                other users from fully enjoying our Services, or that could damage, disable, overburden or impair
                the functioning of our Services in any manner;</p>

            <p>16.1.2. Use our Services to pay for, support or otherwise engage in any illegal activities, including,
                but not limited to illegal gambling, fraud, moneylaundering, or terrorist activities.</p>

            <p>16.1.3. Use any robot, spider, crawler, scraper or other automated means or interface not provided
                by us to access our Services or to extract data;</p>

            <p>16.1.4. Use or attempt to use another user’s Wallet without authorization;</p>

            <p>16.1.5. Attempt to circumvent any content filtering techniques we employ, or attempt to access any
                service or area of our Services that you are not authorized to access;</p>

            <p>16.1.6. Introduce to the Services any virus, Trojan, worms, logic bombs or other harmful material;</p>

            <p>16.1.7. Develop any third-party applications that interact with our Services without our prior written
                consent;</p>

            <p>16.1.8. Provide false, inaccurate, or misleading information; or</p>

            <p>16.1.9. Encourage or induce any third party to engage in any of the activities prohibited under this
                Section.</p>

            <h4>17. INTELLECTUAL PROPERTY RIGHTS</h4>

            <p>17.1. Unless otherwise indicated by us, all intellectual property rights in the Website and in any
                content provided in connection with our Services, are the property of CinderCloud or our licensors
                or suppliers and are protected by applicable intellectual property laws. We do not give any implied
                licence for the use of the contents of the Website.</p>

            <p>17.2. You accept and acknowledge that the material and content contained within the Website is
                made available for your personal, lawful, non-commercial use only and that you may only use such
                material and content for the purpose of using the Website. You further acknowledge that any other
                use of content from the Website is strictly prohibited and you agree not to infringe or enable others
                to infringe our intellectual property rights.</p>

            <p>17.3. You agree to retain all copyright and other proprietary notices contained in the material and
                content within the Website on any copy you make of the material, but failing to do so shall not
                prejudice CinderCloud's intellectual property rights therein.</p>

            <p>17.4. You may not sell or modify the Website materials or reproduce, display, publicly perform,
                distribute or otherwise use the materials in any way for any public or commercial purpose. Your use
                of the materials on any other website or on a file-sharing or similar service for any purpose is
                prohibited.</p>

            <p>17.5. You may not copy any material or content contained on the Website or accessible through the
                Website without our written permission. Any rights not expressly granted herein to use the materials
                contained on the Website are reserved by CinderCloud in full.</p>

            <h4>18. FEEDBACK AND USER SUBMISSIONS</h4>

            <p>18.1. CinderCloud is always improving its services and the Website. If you have ideas or
                suggestions regarding improvements or additions to CinderCloud's Services or the Website,
                CinderCloud would like to hear them; however, any submission will be subject to these Terms.</p>

            <p>18.2. Under no circumstances will any disclosure of any idea or feedback, or any related material to
                CinderCloud or any of its subsidiaries, parents or affiliated companies, or any of their officers,
                directors, managers, members, shareholders, employees and agents, or any of their heirs,
                successors, representatives and assigns be subject to any obligation of confidentiality or expectation
                of compensation.</p>

            <p>18.3. By submitting an idea or feedback or any related material that would be subject to intellectual
                property rights (the “Work”) to CinderCloud, you grant to CinderCloud, in respect of the Work
                submitted, a non-exclusive, perpetual, worldwide royalty free licence to use all of the content of
                such ideas and feedback, for any purpose whatsoever. Further, you are waiving any moral rights to
                the fullest extent permitted under Belgium law that you may have in the Work and are representing
                and warranting to CinderCloud that the Work are wholly original with you, that no one else has any
                rights in the Work and that CinderCloud is free of any royalty to implement the Work and to use the
                related material if so desired, as provided or as modified by CinderCloud, without obtaining
                permission or licence from any third party.</p>

            <p>18.4. We have the right to remove any posting you may make to the Website, in our absolute
                discretion, without warning or reasons.</p>

            <h4>19. HOW TO CONTACT US</h4>

            <p>19.1. You may contact us using the following modes of communication:</p>

            <p>19.1.1. Via email to quintendeswaef@gmail.com</p>

            <p>19.2. Any communication you submit to us will be deemed to be received in accordance with 2.7
                above.</p>

            <h4>20. FORCE MAJEURE</h4>

            <p>20.1. If by reason of any Force Majeure Event, either you or CinderCloud is delayed or prevented
                from complying with any of these Terms, then such delay or non-compliance shall not be deemed to
                be a breach of these Terms and no loss or damage shall be claimed by you or CinderCloud by reason
                thereof.</p>

            <h4>21. NATURE OF AGREEMENT 8</h4>

            <p>21.1. These Terms constitute the entire agreement between you and CinderCloud with respect to the
                subject matter of these Terms and these Terms cancel and supersede any prior understandings and
                agreements between you and CinderCloud as to that subject matter. You may not assign any of your
                rights or obligations under these Terms without our prior written consent.</p>
        </div>
    </div><!--/container-->
</div>

<div layout:fragment="footer-content">

</div>

</html>
