<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="topnav">

    <!--=== Header ===-->
    <div class="header">
        <div class="container">
            <!-- Navbar Brand -->

            <!-- ENd Navbar Brand -->

            <div class="">
                <a href="index.html">
                    <h1><span class="color-green">C</span>indercloud</h1>
                </a>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
        </div><!--/end container-->
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li class="page-scroll home">
                        <a th:href="@{/}">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/register}">Pricing</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/register}">Dashboard</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()">
                        <a th:href="@{/login}">Login</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div><!--/end container-->
        </div><!--/navbar-collapse-->

    </div>
    <!--=== End Header ===-->

</div>

</body>
</html>