<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/normal/decorator"
>

<div layout:fragment="header-content">
    <title>Mijn Facturen | Zoek Uw Aannemer</title>
    <link rel="stylesheet" th:href="@{/assets/unify/css/pages/profile.css}"/>
    <link rel="stylesheet" th:href="@{/assets/unify/css/pages/shortcode_timeline2.css}" />
</div>

<div layout:fragment="main-content">


    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Mijn bedrijf</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="#">Vakmensen</a></li>
                <li class="active"><a th:href="@{/prijzen}">Mijn Bedrijf</a></li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
    <br />

    <div th:if="${successMessage != null}" class="container">
        <br />
        <div class="alert alert-success fade in margin-bottom-40">
            <span th:text="#{${successMessage}}"></span>
        </div>
    </div>


    <div class="container" th:if="${subscription == null}">
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning fade in text-center">
                    <h4>Opgepast: U heeft (nog) geen actief abonnement.</h4>
                    <p>Uw bedrijf zal nog niet gevonden worden en u kan nog niemand contacteren.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container content profile">
        <div class="row">
            <!--Left Sidebar-->
            <div class="col-md-3 md-margin-bottom-40">

                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                    <li class="list-group-item">
                        <a th:href="@{/mijn-bedrijf}"><i class="fa fa-cog"></i> Mijn Instellingen</a>
                    </li>
                    <li class="list-group-item active">
                        <a th:href="@{/mijn-facturen}"><i class="fa fa-inbox"></i> Mijn Facturen</a>
                    </li>
                </ul>

                <div th:replace="components/mycompany :: statistieken" th:remove="tag"></div>
            </div>
            <!--End Left Sidebar-->

            <div th:replace="components/myinvoices :: invoiceList" th:remove="tag"></div>

        </div>

    </div>

</div>

</html>