<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/normal/decorator"
>

<div layout:fragment="header-content">
    <title>Prijzen | Zoek Uw Aannemer</title>
    <link rel="stylesheet" th:href="@{/assets/unify/css/pages/pricing/pricing_v8.css}" />
</div>

<div layout:fragment="main-content">

    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">404 - Niet Gevonden</h1>
            <ul class="pull-right breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li class="active">404 - Niet Gevonden</li>
            </ul>
        </div>
    </div>

    <div class="container content">
        <!--Error Block-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="error-v1">
                    <span class="error-v1-title">404</span>
                    <span>Dat ging even mis.</span>
                    <p>De pagina die u wou bezoeken werd niet gevonden.</p>
                    <a class="btn-u btn-bordered" th:href="@{/}">Terug</a>
                </div>
            </div>
        </div>
        <!--End Error Block-->
    </div>

</div>

</html>